export _JAVA_OPTIONS="-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel"

export PASSWORD_STORE_ENABLE_EXTENSIONS="true"

# disable bell
xset -b
